<div class="container">
  <div class="row">
    <input type="text" name="title" [(ngModel)]="searchObject.queryString" class="col-md-5" (keyup.enter)="onSearch()">
    <div class="select">
      <select name="category" [(ngModel)]="searchObject.category">
        <option value="">Search by category</option>
        <option *ngFor="let cat of categories" [value]="cat" >{{cat}}</option>
      </select>
    </div>
    <button class="btn btn-primary" (click)="onSearch()">Search</button>
  </div>
  <app-products-table [products]="results"></app-products-table>
</div>
